<!doctype html>
<!--[if lt IE 7]>
<html xmlns:ng="http://angularjs.org"
      class="no-js lt-ie9 lt-ie8 lt-ie7"
      id="ng-app"> <![endif]-->
<!--[if IE 7]>
<html xmlns:ng="http://angularjs.org"
      class="no-js lt-ie9 lt-ie8"
      id="ng-app"> <![endif]-->
<!--[if IE 8]>
<html xmlns:ng="http://angularjs.org"
      class="no-js lt-ie9"
      id="ng-app"> <![endif]-->
<meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet"
          href="../../bower_components/normalize-css/normalize.css"/>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <link rel="stylesheet"
          href="vertical-dynamic.css"/>
</head>
<style>
    header, .content, footer {
        outline:      3px solid orange;
        border-left:  1px solid olive;
        border-right: 1px solid olive;
    }

    p, h1 {
        margin:  0;
        padding: 0;
    }

    .container {
        margin:       auto;
        max-width:    800px;
        border-left:  4px solid olive;
        border-right: 4px solid olive;
    }

</style>
<body>

<div class="container">
    <header>
        <div class="l-table">
            <div class="l-table--cell">

                <div class="l-table--center">
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi,
                        quis.</h1>
                </div>
            </div>
        </div>
    </header>


    <section class="content">
        <div class="l-table">
            <div class="l-table--cell">
                <div class="l-table--center">
                    <article>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid
                            beatae dolor incidunt iusto neque numquam sed veritatis. Ipsum,
                            soluta!</p>

                        <p>Aliquid dolore, nobis? Adipisci ducimus enim exercitationem harum labore
                            maiores, minima nesciunt nisi officia quidem recusandae sed similique
                            sunt ut.</p>

                        <p>Consectetur earum et ex inventore placeat praesentium ratione. Autem
                            deleniti eligendi exercitationem molestiae nulla placeat quam quasi
                            quibusdam vel, voluptate?</p>

                        <p>Architecto consequatur cumque cupiditate dolor dolore dolores fugit ipsa
                            itaque praesentium quasi quibusdam quidem quis ratione repellendus
                            reprehenderit, tenetur ullam.</p>
                        <ul>
                            <li>Lorem ipsum dolor.</li>
                            <li>Deleniti earum, temporibus.</li>
                            <li>Fuga hic, minima.</li>
                            <li>Atque magni, officia.</li>
                        </ul>
                        <p>Debitis eveniet molestias obcaecati placeat quis, unde velit voluptatem!
                            A animi atque corporis exercitationem expedita molestias quam quidem
                            saepe ullam!</p>

                        <p>Doloremque eos id ipsam ipsum nesciunt quaerat quas, repellendus sed sint
                            voluptatem! Asperiores autem eum ipsam laborum quod rem, sit.</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                            distinctio esse excepturi fugiat praesentium quis sequi. Dolores illo
                            iure nihil nulla odit optio recusandae vitae voluptas voluptatibus
                            voluptatum. Beatae fugiat maiores praesentium quibusdam ut. Aperiam
                            deleniti impedit nisi praesentium sunt!</p>

                    </article>

                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="l-table">
            <div class="l-table--cell">
                <div class="l-table--center">
                    <ul>
                        <li>Lorem ipsum dolor.</li>
                        <li>Deleniti earum, temporibus.</li>
                        <li>Fuga hic, minima.</li>
                        <li>Atque magni, officia.</li>
                    </ul>

                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>