/******* Main Layout Blocks ******* */
/* line 17, vertical-dynamic.sass */
html,
body {
  height: 100%;
}

/* line 22, vertical-dynamic.sass */
.container {
  height: 100%;
}

/* line 26, vertical-dynamic.sass */
header {
  height: 20%;
  min-height: 100px;
}

/* line 31, vertical-dynamic.sass */
footer {
  height: 20%;
  min-height: 100px;
}

/* line 36, vertical-dynamic.sass */
.content {
  height: 60%;
  overflow-y: auto;
}

/******* Layout-Classes for centering ******* */
/* line 41, vertical-dynamic.sass */
.l-table {
  display: table;
  height: 100%;
}
/* line 44, vertical-dynamic.sass */
.lt-ie8 .l-table {
  behavior: url(polyfills/display-table.min.htc);
}

/* line 48, vertical-dynamic.sass */
.l-table--cell {
  display: table-cell;
  vertical-align: middle;
}

/* line 52, vertical-dynamic.sass */
.l-table--center {
  margin: 0 auto;
}
