// Emmet:
 (header>.l-table>.l-table--cell>.l-table--center)+(section.content>.l-table>.l-table--cell>.l-table--center+footer>.l-table>.l-table--cell>.l-table--center

// Method explained here:
  http://www.456bereastreet.com/archive/201103/flexible_height_vertical_centering_with_css_beyond_ie7/

// Cross-Browser:
  IE8 out of the box
  IE7 use polyfill:
  http://tanalin.com/en/projects/display-table-htc/

// shared $vars
$header-min-h: 100px
$footer-min-h: 100px

/******** Main Layout Blocks ********/
html,
body
  // To avoid scrollbar
  height: 100%

.container
  // ^ needs to get 100% height as well
  height: 100%

header
  height: 20%
  // arbitrary min-height; use $vars to match brand (maybe + nav) and header height
  min-height: $header-min-h

footer
  height: 20%
  // same here
  min-height: $footer-min-h

.content
  height: 60%
  overflow-y: auto

/******** Layout-Classes for centering ********/
.l-table
  display: table
  height: 100%
  .lt-ie8 &
    // Polyfill for IE7 applied with parent selector
    behavior: url(polyfills/display-table.min.htc)

.l-table--cell
  display: table-cell
  vertical-align: middle

.l-table--center
  margin: 0 auto

// IE7 fix approach 2
//.lt-ie8
//  header,
//  footer,
//  .content
//    height: auto
//  header
//    margin: 20px 0
//  footer
//    margin: 20px 0
//  .content
//    margin: 20px 0