/* line 13, vertical-dynamic.sass */
html,
body {
  height: 100%;
}

/* line 18, vertical-dynamic.sass */
.container {
  height: 100%;
}

/* line 22, vertical-dynamic.sass */
header,
footer,
.content {
  height: 33%;
  overflow-y: auto;
}

/* line 29, vertical-dynamic.sass */
.l-table {
  display: table;
  height: 100%;
}

/* line 33, vertical-dynamic.sass */
.l-table--cell {
  display: table-cell;
  vertical-align: middle;
}

/* line 37, vertical-dynamic.sass */
.l-table--center {
  margin: 0 auto;
}
