<!doctype html>
<!--[if lt IE 7]>
<html xmlns:ng="http://angularjs.org"
      class="no-js lt-ie9 lt-ie8 lt-ie7"
      id="ng-app"> <![endif]-->
<!--[if IE 7]>
<html xmlns:ng="http://angularjs.org"
      class="no-js lt-ie9 lt-ie8"
      id="ng-app"> <![endif]-->
<!--[if IE 8]>
<html xmlns:ng="http://angularjs.org"
      class="no-js lt-ie9"
      id="ng-app"> <![endif]-->
<meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet"
          href="../../bower_components/normalize-css/normalize.css"/>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet   "
          href="vertical-dynamic.css"/>

</head>
<style>
    header, .content, footer {
        outline: 3px solid orange;
    }
</style>
<body>

<div class="container">

    <header>
        <div class="l-v-center">
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quis.</h1>
        </div>
    </header>


    <section class="content">
        <div class="l-v-center">
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis cum,
                    fugit
                    in inventore minus nisi non reprehenderit temporibus? A explicabo repellendus
                    sequi.
                    Ab excepturi natus odit optio, unde vero. </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis cum,
                    fugit
                    in inventore minus nisi non reprehenderit temporibus? A explicabo repellendus
                    sequi.
                    Ab excepturi natus odit optio, unde vero. </p>
            </article>
        </div>
    </section>

    <footer style="text-align: center;">
        <div class="l-v-center"
             style="width: 300px;">
            <ul>
                <li>Lorem ipsum dolor.</li>
                <li>Deleniti earum, temporibus.</li>
                <li>Fuga hic, minima.</li>
                <li>Atque magni, officia.</li>
            </ul>
        </div>
    </footer>
</div>

</body>
</html>