// Emmet:
// (header>.l-v-center)+(section.content>.l-v-center)+footer>.l-v-center>ul>li*3>a[href=#]

// Cross-Browser:
// IE8 with fixes, no IE7

// Method explained here:
// http://css-tricks.com/centering-in-the-unknown/

// TODO more doc
// TODO fall-back for ie with fixed heights

html,
body
  // To avoid scrollbar
  height: 99%

.container
  // needs to get 100% height as well
  height: 100%

header,
footer
  &:before
    // ghost element which is used by the .l-v-center to align itself vertically to
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle
    // required to prevent jumping to next 'line'
    margin-left: -0.3em

header
  height: 20%
  // min-values could be specified here and should be (min --> line-height)
  display: block

.content
  display: block
  height: 60%
  // adding a scrollbar for extensive content
  overflow-y: auto

footer
  display: block
  height: 20%

.l-v-center
  display: inline-block
  vertical-align: middle
  width: 100%